<div class="quarantine">
  <div class="quarantine__search">
    <md-input-container flex class="">
      <label>
        <i class="fa fa-search" aria-hidden="true"></i> {{'quarantine.search' | translate}}</label>
      <input ng-model="search">
    </md-input-container>
  </div>
  <div class="quarantine__result">
    <div class="quarantine__survivor" ng-repeat="s in survivors | filter:search | orderBy:order">
      <div class="quarantine__survivor--id">
        {{'quarantine.survivor' | translate}} {{ s.name }}
      </div>
      <div class="quarantine__survivor--infect">
        <md-button class="md-raised md-warn" ng-click="infect(s.location)">{{ 'quarantine.infect' | translate }}</md-button>
      </div>
    </div>
  </div>
</div>
