@main-bg-color: #EEEEEE;

.main {

  &__container {
    padding: 32px;
  }
}
/* Responsive: Portrait Smartphones */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .main {

    &__container {
      padding: 32px;
    }
  }
}
/* Responsive: Portrait tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main {

    &__container {
      padding: 32px;
    }
  }
}
